@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "NanumSquare", sans-serif;
}

ul,
ol {
  list-style: none;
  counter-reset: section;
}

ol li:before {
  counter-increment: section;
  content: counter(section) ". ";
}

a {
  color: #c8c8c8;
  text-decoration: none;
}

/* 전체 레이아웃 */
#wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1280px;
  margin-right: auto;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  padding-top: 80px;
  margin-right: 50px;
  width: 140px;
  max-height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#39254d), color-stop(50%, #a8a8a8), to(white));
  background-image: linear-gradient(to bottom, #39254d 0%, #a8a8a8 50%, white 100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

aside.close {
  width: 0;
}

aside.close ul {
  display: none;
}

section,
main {
  margin-bottom: 200px;
}

section article,
main article {
  margin-top: 30px;
}

section article h3,
main article h3 {
  margin-left: -24px;
  margin-bottom: 5px;
}

footer {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

footer address {
  margin: 10px 40px;
}

/* 세부 디자인 */
header p {
  margin-top: 20px;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  color: #3d3158;
}

aside button {
  position: fixed;
  top: 40px;
  left: 100px;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

aside button:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@-webkit-keyframes closeAnimation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

@keyframes closeAnimation {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

aside button.close {
  top: 20px;
  left: 15px;
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: 0;
  background-color: #39254d;
  -webkit-animation-name: closeAnimation;
          animation-name: closeAnimation;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

aside button.close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  border-radius: 50%;
}

aside ul {
  height: 100vh;
}

aside ul li {
  margin-top: 10px;
}

aside ul li a {
  display: block;
  margin: 0 10px;
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #fafaff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

aside ul li a:hover {
  background-color: #39254d;
  border-radius: 30px;
}

main #plan table {
  margin-top: 20px;
  border-collapse: collapse;
}

main #plan table th {
  padding: 5px 20px;
  border: 1px solid #39254d;
  background-color: #39254d;
  color: white;
}

main #plan table td {
  padding: 10px 20px;
  border: 1px solid #c8c8c8;
}

main #plan table td:nth-child(3) {
  color: red;
  text-align: center;
}

main #note .everyBtnClose {
  position: fixed;
  display: none;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 50px;
}

main #note > ul > li {
  margin-top: 14px;
  white-space: pre-line;
}

main #note > ul > li h4 {
  font-size: 20px;
}

main #note > ul > li .note_sub li {
  display: block;
}

main #note > ul > li .note_cont {
  display: none;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.1);
}

main #note > ul > li .note_cont img {
  display: block;
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  margin: 0 auto;
}

main #note > ul > li .note_cont .note_name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #39254d;
  margin: 20px 0;
}

main #note > ul > li .text {
  white-space: pre-line;
}

footer address {
  color: rgba(40, 40, 40, 0.5);
}

footer address:hover {
  color: #282828;
}

.layerPopUp {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.layerPopUp .plusBtn {
  position: fixed;
  z-index: 60;
  background-color: #fff;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 10px;
}

.layerPopUp .minusBtn {
  position: fixed;
  z-index: 60;
  background-color: #fff;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 50px;
}

.layerPopUp img {
  width: 50%;
}
